.header{
    background-image: url('../../images/header/photo.jpg');
    background-size: cover;
    background-position: bottom;
    display: flex;
    width: 100%;
    height: 30rem;
    align-items: flex-start;
    min-height: 50vh;
    padding: 2rem;
}

.title{
    color: white; 
    padding: 2rem;
} 

.title h1{
    font-size: 3rem; 
}
.title p{
    font-size: 1.4rem;
}

@media screen and (max-width: 480px) {
    .title{
        padding: 0;
        padding-top: 3rem;
    }
    
    .title h1{
        font-size: 2.5rem; 
    }
    .title p{
        font-size: 1.2rem;
    }

}

@media screen and (min-width: 769px) and (max-width: 1199px) {
    .title p{
        width: 70%; 
    }
  }
  
  @media screen and (min-width: 1200px) {
    .title p{
        width: 70%; 
    }
}
