.Nav{
    display: flex;
    background-color: var(--colornav);
    width: 100%;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
}

.Nav img{
    max-width: 10rem;
}

.Nav ul{
    display: flex;
}

.Nav li{
    padding: 2rem;
    color: white;
}

.links{
    position: absolute;
    margin-left: 70%;
    background-color: var(--colornav);
    width: 30%;
}

.links ul{
    margin: auto;
}

.links ul a{
    color: white;
    font-size: 1rem;
}

.bntNav{
    padding-top: 1rem;
}

@media screen and (max-width: 480px) {
    .links{
        display: none;
    }
    .Nav ul{
        display: none;
    }

}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .links{
        display: none;
    }
    
    .Nav ul{
        display: none;
    }
}

@media screen and (min-width: 769px) and (max-width: 1199px) {
    .links{
        display: none;
    }
    .bntNav{
    display:none;}
}

@media screen and (min-width: 1200px) {
    .links{
        display: none;
    }
    .bntNav{display:none;}
}