*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --colornav: rgba(15, 53, 41, 1);
    --color: rgba(3, 22, 16, 1);
}

a{
    text-decoration: none;
    color: var(--color);
}

ul li {
    list-style: none;
    text-decoration: none;
    padding: 0.5rem;
}
h1, h2{
    line-height: 2;
}

p{
    line-height: 1.8;
}

body{
    background-color: rgb(247, 252, 239);
    color: var(--color) ;
}

body, input, button, textarea{
    font: 12px Rubik , sans-serif;
}